<div
  class="flex min-h-full items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
  <div class="w-full max-w-lg space-y-8">
    <div>
      <img
        class="mx-auto h-12 w-auto"
        src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600"
        alt="Your Company" />
      <h2
        class="mt-6 text-center text-3xl font-bold tracking-tight text-gray-900">
        Cadastro
      </h2>
    </div>
    <form [formGroup]="formulario" class="mt-8 space-y-6">
      <input type="hidden" name="remember" value="true" />
      <div class="-space-y-px rounded-md shadow-sm">
        <div class="grid grid-cols-12 gap-4">
          <div class="col-span-12">
            <mat-form-field class="w-full" appearance="outline">
              <mat-label>Nome Completo</mat-label>
              <input
                formControlName="name"
                matInput
                placeholder="Digite seu nome completo" />
            </mat-form-field>
          </div>

          <div class="col-span-12">
            <mat-form-field class="w-full" appearance="outline">
              <mat-label>CPF</mat-label>
              <input
                mask="000.000.000-00"
                formControlName="cpf"
                matInput
                placeholder="Digite seu nome completo" />
            </mat-form-field>
          </div>

          <div class="col-span-12">
            <mat-form-field class="w-full" appearance="outline">
              <mat-label>E-mail</mat-label>
              <input
                autocomplete="email"
                formControlName="email"
                matInput
                placeholder="Digite seu email" />
            </mat-form-field>
          </div>

          <div class="col-span-12">
            <mat-form-field class="w-full" appearance="outline">
              <mat-label>Senha</mat-label>
              <input
                type="password"
                autocomplete="new-password"
                formControlName="password"
                matInput
                placeholder="Digite sua senha" />
            </mat-form-field>
          </div>

          <div
            class="col-span-12"
            [@inOutAnimation]
            *ngIf="formulario.get('password')?.valid">
            <mat-form-field class="w-full" appearance="outline">
              <mat-label>Confirmar Senha</mat-label>
              <input
                type="password"
                autocomplete="new-password"
                formControlName="confirmarPassword"
                matInput
                placeholder="Confirme sua senha" />
            </mat-form-field>
          </div>

          <div class="col-span-6">
            <mat-form-field class="w-full" appearance="outline">
              <mat-label>Celular</mat-label>
              <input
                mask="(00) 00000-0000"
                formControlName="celular"
                matInput
                placeholder="Digite seu celular" />
            </mat-form-field>
          </div>

          <div class="col-span-6">
            <div>
              <mat-form-field class="w-full" appearance="outline">
                <mat-label>Data de Nascimento</mat-label>
                <input
                  formControlName="data_nascimento"
                  matInput
                  [matDatepicker]="picker"
                  placeholder="Digite sua data de nascimento" />
                <mat-datepicker-toggle
                  matIconSuffix
                  [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </div>
          </div>

          <div class="col-span-12 flex flex-col">
            <label class="font-semibold"> Sexo </label>
            <mat-radio-group color="primary" formControlName="sexo">
              <mat-radio-button value="M">Masculino</mat-radio-button>
              <mat-radio-button value="F">Feminino</mat-radio-button>
              <mat-radio-button value="O">Outro</mat-radio-button>
            </mat-radio-group>
          </div>

          <div class="col-span-12">
            <mat-progress-bar
              [class]="formEvolucao === 100 ? 'progress-success' : ''"
              mode="determinate"
              [value]="formEvolucao"></mat-progress-bar>

            <div
              *ngIf="msgErro"
              [@fadeAnimation]
              class="mt-3 bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative"
              role="alert">
              <strong class="font-bold">Erro ao criar usuário!</strong>
              <span class="block sm:inline">
                {{ msgErro }}
              </span>
              <span class="absolute top-0 bottom-0 right-0 px-4 py-3">
                <svg
                  class="fill-current h-6 w-6 text-red-500"
                  (click)="msgErro = ''"
                  role="button"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20">
                  <title>Close</title>
                  <path
                    d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z" />
                </svg>
              </span>
            </div>

            <div class="mt-8">
              <button
                type="button"
                (click)="cadastro()"
                class="group relative flex w-full justify-center rounded-md bg-indigo-600 py-2 px-3 text-sm font-semibold text-white hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
                <span class="absolute inset-y-0 left-0 flex items-center pl-3">
                  <svg
                    class="h-5 w-5 text-indigo-500 group-hover:text-indigo-400"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                    aria-hidden="true">
                    <path
                      fill-rule="evenodd"
                      d="M10 1a4.5 4.5 0 00-4.5 4.5V9H5a2 2 0 00-2 2v6a2 2 0 002 2h10a2 2 0 002-2v-6a2 2 0 00-2-2h-.5V5.5A4.5 4.5 0 0010 1zm3 8V5.5a3 3 0 10-6 0V9h6z"
                      clip-rule="evenodd" />
                  </svg>
                </span>
                Cadastrar
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
