.carrinho {
   display: block;
}

.carrinho.carrinho-on {
   display: block;
   transition-delay: 0s;
}

.carrinho.carrinho-off {
   display: none;
}

.lista{
   transform: translateX(100%);
   transition: all .6s;
}

.carrinho.carrinho-on .lista{
   transform: translateX(0%);
}

html:has(> .carrinho.carrinho-on .lista){
   display: none;
}

.carrinho.carrinho-off .fundo{
   opacity: 0;
   transition: all .6s;
}


.carrinho.carrinho-on .fundo{
   display: block;
   transition-delay: 0s;
}