<div
  *ngIf="carrinhoStatus"
  [@fadeAnimation]
  (click)="closeCarrinho()"
  class="fundo fixed inset-0 z-30 bg-gray-500 bg-opacity-75 transition-opacity"></div>

<div
  *ngIf="carrinhoStatus"
  [@toggleCarrinho]
  class="lista pointer-events-none z-40 fixed inset-y-0 right-0 flex max-w-full pl-10">
  <div class="pointer-events-auto w-screen max-w-md">
    <div class="flex h-full flex-col bg-white shadow-xl">
      <div class="flex-1 overflow-y-auto py-6 px-4 sm:px-6">
        <div class="flex items-start justify-between">
          <h2 class="text-lg font-medium text-gray-900" id="slide-over-title">
            Shopping cart
          </h2>
          <div class="ml-3 flex h-7 items-center">
            <button
              (click)="closeCarrinho()"
              type="button"
              class="-m-2 p-2 text-gray-400 hover:text-gray-500">
              <span class="sr-only">Close panel</span>
              <svg
                class="h-6 w-6"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                aria-hidden="true">
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M6 18L18 6M6 6l12 12" />
              </svg>
            </button>
          </div>
        </div>

        <!-- {
          "carrinho_id": 3,
          "produto_id": 1,
          "preco_unitario": 110,
          "quantidade": 1,
          "created_at": "2023-06-15T02:08:23.222Z",
          "updated_at": null,
          "produto": {
            "id": 1,
            "nome": "Fjallraven - Foldsack No. 1 Backpack, Fits 15 Laptops",
            "preco": 110,
            "descricao": "Your perfect pack for everyday use and walks in the forest. Stash your laptop (up to 15 inches) in the padded sleeve, your everyday",
            "imagem": "https://fakestoreapi.com/img/81fPKd-2AYL._AC_SL1500_.jpg"
          }
        } -->

        <div class="mt-8" *ngIf="dadosCarrinho.itens.length; else semItens">
          <div class="flow-root">
            <ul role="list" class="-my-6 divide-y divide-gray-200">
              <li class="flex py-6" *ngFor="let item of dadosCarrinho.itens">
                <div
                  class="h-24 w-24 flex-shrink-0 overflow-hidden rounded-md border border-gray-200">
                  <img
                    [src]="item.produto.imagem"
                    [alt]="item.produto.imagem"
                    class="h-full w-full object-cover object-center" />
                </div>
                <div class="ml-4 flex flex-1 flex-col">
                  <div>
                    <div
                      class="flex justify-between text-base font-medium text-gray-900">
                      <h3>
                        <a
                          routerLink="produto/{{ item.produto.id }}"
                          href="#"
                          >{{ item.produto.nome }}</a
                        >
                      </h3>
                      <p class="ml-4">{{ item.produto.preco }}</p>
                    </div>
                    <p class="mt-1 text-sm text-gray-500">Salmon</p>
                  </div>
                  <div class="flex flex-1 items-end justify-between text-sm">
                    <p class="text-gray-500">Qtd {{ item.quantidade }}</p>

                    <div class="flex">
                      <button
                        type="button"
                        class="font-medium text-indigo-600 hover:text-indigo-500">
                        Remove
                      </button>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>

        <ng-template class="mt-8" #semItens>
          <div class="PageCart-styles__EmptyCart-sc-d6480e32-3 bbLDQe">
            <p class="text-lg">O seu carrinho está vazio.</p>
          </div>
        </ng-template>
      </div>

      <div class="border-t border-gray-200 py-6 px-4 sm:px-6">
        <div class="flex justify-between text-base font-medium text-gray-900">
          <p>Subtotal</p>
          <p>{{ dadosCarrinho.valor_total }}</p>
        </div>
        <div class="mt-6">
          <a
            href="#"
            class="flex items-center justify-center rounded-md border border-transparent bg-indigo-600 px-6 py-3 text-base font-medium text-white shadow-sm hover:bg-indigo-700"
            >Checkout</a
          >
        </div>
        <div class="mt-6 flex justify-center text-center text-sm text-gray-500">
          <p>
            or
            <button
              type="button"
              class="font-medium text-indigo-600 hover:text-indigo-500">
              Continue Shopping
              <span aria-hidden="true"> &rarr;</span>
            </button>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
